.example-card {
    max-width: 420px;
    position:relative;
    margin: 25px;
    border: 1px solid #bfbfbf;
    box-shadow: 0px 5px 5px #aaaaaa;
  
  }
  .example-card:hover{
    box-shadow:  0px 5px 5px rgb(42, 18, 129);
    border: 1px solid #bfbfbf;
  
  }
  
  