@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

.example-spacer {
    flex: 1 1 auto;
    margin-left:10px;
  }
  .find{
    max-width: 150px;
  }
  .example-card {
    max-width: 200px;
    max-height: 100px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  /* side nav bar */
  .example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  #header{
    /* overflow: scroll; */
    height:80px;
    padding:5px; 
  }
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  .dropbtn {
    /* /* background-color: #04AA6D;
    color: white;
    padding: 5px;
    font-size: 20px;
    border: none;
    margin: 10px; */
    /* height: 30px; */
    /* width:fit-content;  */
    display: inline-block;
  padding: 5px 12px;
  font-size: 16px;
  height: 38px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: rgb(255, 193, 7);
  border: none;
  border-radius: 5px;
  margin: 8px; 

  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: rgb(255, 193, 7);}
  /* ************************* */
 /* ****************side nav bar**************** */
 
 .butn {
  width: 190px;
  height: 50px;
  margin:15px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91C9FF;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
   width: 190px;
  height: 50px;
  margin-top:-10px;
  margin-left:-20px;
  margin-right:5px;
  position: absolute;
  /* left:0; top:0; */
  fill: none;
  stroke: #fff;
  stroke-dasharray: 180 480;
  stroke-dashoffset: 180;
  transition: 1s ease-in-out;
}

.butn:hover {
  transition: 1s ease-in-out;
  background: #4F95DA;
}

.butn:hover svg {
  stroke-dashoffset: -480;
}

.butn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}
 


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: visible;
  opacity: 1;
}


.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
  cursor: pointer;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  
  .popup{
    width: 70%;
  }
}


