.example-spacer {
    flex: 1 1 auto;
    margin-left:10px;
  }

  .example-card {
    max-width: 200px;
    max-height: 100px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  /* side nav bar */
  .example-container {
    width: 500px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  /* ************************* */
 /* ****************side nav bar**************** */



