<mat-toolbar color="primary">
    <button mat-raised-button color="primary"style='margin-right:16px'><mat-icon>home</mat-icon></button>
    <span>Karuna</span>
    <div class="example-spacer"></div>
    <form class="form-inline waves-light" mdbWavesEffect style='margin-right:16px'>
        <div class="md-form mt-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
        </div>
      </form>


      <button mat-raised-button color="accent"style='margin-right:16px'>Search</button>
      <button mat-raised-button color="accent" style='margin-right:16px'>Donate Medicine</button>
        <button mat-raised-button color="accent"style='margin-right:16px'><mat-icon>room</mat-icon>
        </button>
    <button mat-raised-button color="accent">Login</button>
    
</mat-toolbar>
<br>
{{medicineresponse.details}}
<br>


        <!-- <mat-card class="example-card">
            <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Shiba Inu</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
            <p>
                hello doggy
            </p>
            </mat-card-content>
            <mat-card-actions>
            <p> Quantity available2 </p>
            <button mat-button>Order</button>
        </mat-card-actions>
    </mat-card> -->
    
    <!-- <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
          <p>Auto-resizing sidenav</p>
          <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
          <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
          </button>
        </mat-drawer>
      
        <div class="example-sidenav-content">
          <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
          </button>
        </div>
      
      </mat-drawer-container> -->

    
      