<div id="main" class="row">
<mat-card class="col-sm-12 col-md-6 col-lg-4 e-card" *ngFor="let i of medicine" >
    <mat-card-title-group>
      <mat-card-title>{{i.medicineName}}</mat-card-title>
      <!-- <mat-card-subtitle>Medicine Id: {{i.id}}</mat-card-subtitle> -->
      <mat-card-subtitle>Medicine Count: {{i.tabletCount}}</mat-card-subtitle>
      <mat-card-subtitle>expiryDate: {{i.expiryDate}}</mat-card-subtitle>
      <mat-card-subtitle>Medicine Details: {{i.details}}</mat-card-subtitle>
      <!-- <mat-card-subtitle>Medicine Domain: {{i.medicineDomain}}</mat-card-subtitle> -->

      <img mat-card-sm-image src="https://labblog.uofmhealth.org/sites/lab/files/2021-05/Blue-Pill-Medicine-Globes-World-.jpg"
      width="150" height="100">
    </mat-card-title-group>
    <button class="btn btn-secondary" (click)="request(i.medicineName,i.tabletCount,i.userEmail)">Request</button>
  </mat-card>  
</div>
  <!-- <app-home [homechild]="medname"></app-home> -->
<router-outlet></router-outlet>

  