
<div class="container" id="full">

    <h1>Add Medicine Details</h1>

    <form>

        <div class="form-group">

            <label for="medicinename">Medicine Name</label><br>

            <input type="text" name="medicinename" class = "fill form-control" [(ngModel)]="medicinedetails.medicineName">

        </div>

        <div class="form-group">

            <label for="tabletcount">Tablet Count</label><br>

            <input type="text" name="tabletcount" class = "fill form-control"    [(ngModel)]="medicinedetails.tabletCount">

        </div>

        <div class="form-group">

            <label for="expirydate">Expiry Date</label><br>

            <input type="text" name="expirydate" class = "fill form-control" [(ngModel)]="medicinedetails.expiryDate">

        </div>

        <div class="form-group">

            <label for="details">Details and Uses of Medicine</label><br>

            <input type="text" name="details" class = "fill form-control" [(ngModel)]="medicinedetails.details">

        </div>
        <!-- <div class="form-group">

            <label for="mobile">Mobile</label><br>

            <input type="text" name="details" class = "fill form-control" [(ngModel)]="medicinedetails.mobile">

        </div> -->

        <!-- ***********drop down menu*************** -->
        <div class="fill form-group">

            <label for="medicinedomain">Medicine Domain</label><br>

           
            <select (change)="selectChangeHandler($event)">
                
              <option value="antibiotics">Antibiotics</option>
              <option value="coughsyrup">CoughSyrup</option>
              <option value="vitamins">Vitamins</option>
              <option value="eyes">Eyes</option>
              <option value="kidney">Kidney</option>
              <option value="others">Others</option>
            </select>
            
        </div>

<br>
        <button class="btn btn-primary" type="submit" (click)=registerMedicine()>Submit</button>

    </form>

</div>
<br>


