<div class="row">
<mat-card class="example-card col-sm-12 col-md-6 col-lg-4" *ngFor="let i of childresponse" >
    <mat-card-title-group>
      <mat-card-title>{{i.medicineName}}</mat-card-title>
      <mat-card-subtitle>Medicine Count: {{i.tabletCount}}</mat-card-subtitle>
      <mat-card-subtitle>expiryDate: {{i.expiryDate}}</mat-card-subtitle>
      <mat-card-subtitle>Medicine Details: {{i.details}}</mat-card-subtitle>
      <!-- <mat-card-subtitle>Medicine Domain: {{i.medicineDomain}}</mat-card-subtitle> -->

      <img mat-card-sm-image src="https://labblog.uofmhealth.org/sites/lab/files/2021-05/Blue-Pill-Medicine-Globes-World-.jpg"
      width="150" height="100">
    </mat-card-title-group>
    <button class="btn btn-secondary" (click)="request()">Request</button>
    
  </mat-card>
</div>
