
<div class="container" id="full">

    <h1>Request Medicine</h1>

    <form>

        <div class="form-group">

            <label for="name">Name</label><br>

            <input type="text" name="name" class = "fill form-control" [(ngModel)]="medicinerequest.name">

        </div>

        <div class="form-group">

            <label for="email">Email</label><br>

            <input type="text" name="email" class = "fill form-control"    [(ngModel)]="medicinerequest.email">

        </div>

        <div class="form-group">

            <label for="mobile">Phone Number</label><br>

            <input type="text" name="mobile" class = "fill form-control" [(ngModel)]="medicinerequest.mobile">

        </div>

        <div class="form-group">

            <label for="address">Address</label><br>

            <input type="text" name="address" class = "fill form-control" [(ngModel)]="medicinerequest.address">

        </div>
        <br>
        <br>
       
        <button class="btn btn-primary" type="submit" (click)="requestmedicine()">Submit Request</button>

    </form>

</div>
<br>


