.login{
    text-align: center;
    border: 1px solid;
    padding: 20px;
    box-shadow: 5px 10px 8px 10px #888888;
    width: 500px;
    margin:auto;
    /* top:200px; */
    font-weight: bold;
}

.heading{
    font-family: Brush Script MT, Brush Script Std, cursive;
    margin: 0 auto;
    font-size: 30px;
    text-shadow: 2px 1px black;
    letter-spacing: 3px;
    animation: load ease-in-out 1s;
}
@keyframes load {
    from {
      opacity: 0;
      letter-spacing: -1px;
    }
    to {
      opacity: 1;
      letter-spacing: 3px;
    }
  }
.buttons{
    justify-content:space-evenly;
}
