<br>
<br>
<div class="login">
    <div>
        UserName:   <input type="text" name="username" [(ngModel)]="users.username">
    </div>
    <br>
    <div>
        Password:   <input type="password" name="password" [(ngModel)]="users.password">
    </div>
    <br>
    <br>

    <div class="row buttons">
    <button class="btn btn-success" (click)="getlogin()">Login</button>
    <button class="btn btn-primary" (click)="createuser()" *ngIf='service.isUserLoggedIn()'>Signup</button>
  </div>
</div>

<!-- <router-outlet></router-outlet> -->